* {
    font-family: Helvetica, Courier, sans-serif;
}

body {
    background-color: blue;
}

h1 {
    color:black;
}

p,
li {
    font-size: 18px;
    border: 10px dotted rebeccapurple
}

a {
    text-decoration: none;
}
