* {
    font-family: Helvetica, Courier, sans-serif;
}

head {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

title {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-style: bold;
    padding: 3px;
    text-align: center;
}
body {
    background-color: turquoise;
    
}

h1 {
    color:black;
}

p {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}
